<!DOCTYPE html>
<html lang="en">
	<head th:replace="layouts/fragmentos :: head">
	<meta charset="utf-8"></head>
	
	<body class="hold-transition sidebar-mini">
		<div class="wrapper">
	
			<!-- Navbar -->
			<header th:replace="layouts/fragmentos :: header"></header>
			<!-- /.navbar -->
	
			<!-- Main Sidebar Container -->
			<aside th:replace="layouts/fragmentos :: menu"></aside>
	
			<!-- Aquí inicia contenido -->
			<div class="content-wrapper">
				<div class="container mt-4">
					<br>
						<div class="card">
						<div class="card-header bg-danger text-white"> <i class="fas fa-map-marked-alt"></i> Distritos</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered table-hover">
								<thead class="thead-dark">
									<tr>
										<th scope="col">id</th>
										<th scope="col">Distrito</th>

									</tr>
								</thead>
								<tbody>
									<tr th:each="item: ${listaDistrito}">
										<th th:text="${item.id}"></th>
										<td th:text="${item.nombre}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
						</div>
				</div>
			</div>
			<!-- Aquí finaliza contenido -->
	
			<!-- Control Sidebar -->
			<aside class="control-sidebar control-sidebar-dark">
				<!-- Control sidebar content goes here -->
				<div class="p-3">
					<h5>Title</h5>
					<p>Sidebar content</p>
				</div>
			</aside>
			<!-- /.control-sidebar -->
	
			<!-- Main Footer -->
			<footer th:replace="layouts/fragmentos :: footer"></footer>
		</div>
		<!-- ./wrapper -->
	
	
		<!-- REQUIRED SCRIPTS -->
		<script type="text/javascript" th:src="@{/dashboard/js/jquery-3.5.1.min.js}"></script>
		<script type="text/javascript" th:src="@{/dashboard/js/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/dashboard/js/bootstrap.bundle.min.js}"></script>
		<script type="text/javascript" th:src="@{/dashboard/js/adminlte.min.js}"></script>
		<script type="text/javascript" th:src="@{/dashboard/js/formulario.js}"></script>
	
	</body>
</html>